html,body{
  height:100%;
  margin: 0;
}
a{
  text-decoration: none;
  color: #fff;
  &:focus{
    outline: none;
  }
}
div{box-sizing: border-box}
#app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    background-color: #3b4a82;
    min-height:100%;
    color: #D2D5E2;
    height: 100%;
    .Children{
        padding-bottom: 1rem;
    }
    .nav{
      position: relative;
        height: 1rem;
        color: #fff;
        font-size: 0.36rem;
        line-height: 1rem;
        background: -moz-linear-gradient(center, #4B5A97, #3b4a82);
        background: -o-linear-gradient(center, #4B5A97, #3b4a82);
        background: -webkit-gradient(linear, 0 50%, 0 100%, from(#4B5A97), to(#3B4A82));
      .nav-back{
        position: absolute;
        left: .2rem;
        font-size: .3rem;
          img{
            position: relative;
            top: .09rem;
              width: .4rem;
          }
      }
    }
    .footer{
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1rem;
        box-shadow: 0 0.1rem 0.04rem 0.1rem #000 ;
        background-color: #2E3A67;
        ul{
            padding: 0;
            margin: 0;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            list-style: none;
            li{
                position: relative;
                display: inline-block;
                width: 25%;
                height: 100%;
                box-sizing: border-box;
                img{
                    width: 0.5rem;
                    height: 0.5rem;
                    margin-bottom: 0.04rem;
                }
                .footer-news{
                    position: absolute;
                    top: 0.1rem;
                    left: 0.26rem;
                    width: 0.36rem;
                    height: 0.36rem;
                    background-size: 100% ;
                    background-repeat: no-repeat;
                    background-image: url('../assets/icon/icon-personal-news.png');
                }
            }
            a{
                text-decoration: none;
                color: #3B4980;
                font-size: 0.16rem;
                display: flex;
                flex-flow: column;
                align-items: center;
                width: 100%;
            }
            &>a{
                padding: 0.1rem 0;
        }
        }
        .active a{
          color: #12B1BF;
        }
    }
}
